Makefile.in
Makefile
.deps
.libs
config.rpath
/test-driver
/INSTALL
/libmicrohttpd.pc
/MHD_config.h.in
/MHD_config.h
/MHD_config.h.in~
/configure.lineno
/config.status.lineno
/config.log
/app.info
/debug
/build-aux/texinfo.tex
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/test-driver
/build-aux/config.guess
/build-aux/compile
/build-aux/missing
/exclude
/autom4te.cache
/scripts
/keys
/doc.tmp
/config.h
/.project
/config.guess
/.cproject
/.tgitconfig
/configure
/libtool
/install-sh
/aclocal.m4
/missing
/config.sub
/config.status
/compile
/stamp-h1
/.pydevproject
/config.h.in
/ltmain.sh
/depcomp
/.autotools
/.vscode
/.settings
/.vs
po/configure.acT
po/Makevars.template
po/POTFILES
po/configargs.stamp
**~
\#*\#
doc/libmicrohttpd.log
src/examples/suspend_resume_epoll
uncrustify.cfg
**.dvi
**.t2d
src/microhttpd_ws/test_websocket
.texlipse
/po/remove-potcdate.sed