Makefile.in
Makefile
.deps
.libs
config.rpath
/test-driver
/INSTALL
/libmicrohttpd.pc
/MHD_config.h.in
/MHD_config.h
/MHD_config.h.in~
/configure.lineno
/config.status.lineno
/config.log
/app.info
/debug
/exclude
/autom4te.cache
/scripts
/keys
/doc.tmp
/config.h
/.project
/config.guess
/.cproject
/configure
/libtool
/install-sh
/aclocal.m4
/missing
/config.sub
/config.status
/compile
/stamp-h1
/.pydevproject
/config.h.in
/ltmain.sh
/depcomp
/.autotools
/.vscode
/.settings
/.vs
po/configure.acT
po/Makevars.template
po/POTFILES
po/configargs.stamp
**~
doc/libmicrohttpd.log
src/examples/suspend_resume_epoll
