/**
{{SComment}}
 * @return the object of struct MHD_DaemonOptionAndValue with the requested
 *         values
 */
static MHD_INLINE struct MHD_DaemonOptionAndValue
{{SName}} ({{SFArguments}})
{
  struct MHD_DaemonOptionAndValue opt_val;

  opt_val.opt = {{EName}};
  {{SFBody}}

  return opt_val;
}

