/**
{{SComment}}
 * @return the object of struct MHD_DaemonOptionAndValue with the requested
 *         values
 */
static MHD_INLINE struct MHD_DaemonOptionAndValue 
MHD_DAEMON_OPTION_{{SName}} ({{SFArguments}})
{
  struct MHD_DaemonOptionAndValue opt_val;

  opt_val.opt = MHD_D_O_{{EName}};
  {{SFBody}}

  return opt_val;
}
