/**
{{SComment}}
 * @return the object of struct MHD_{{hdr_marker}}OptionAndValue with the requested
 *         values
 */
#  define {{SName}}({{MArguments}}) \
    MHD_NOWARN_COMPOUND_LITERALS_ \
    (const struct MHD_{{hdr_marker}}OptionAndValue) \
    { \
      .opt = ({{EName}}), \
      {{CLBody}} \
    } \
    MHD_RESTORE_WARN_COMPOUND_LITERALS_

