 "{{Name}}" : {
    "Value": {{Value}},
    "Type": "{{Type}}",
    "Conditional": "{{Conditional}}",
    "Comment": "{{Comment}}",
    "Arguments": ["{{Argument1}}","{{Argument2}}","{{Argument3}}","{{Argument4}}","{{Argument5}}"],
    "Descriptions": ["{{Description1}}","{{Description2}}","{{Description3}}","{{Description4}}","{{Description5}}"]
  },
